.project-info {
    .project-cover-image {
        width: 100%;
        aspect-ratio: 1;
    }
}
.back-button, .download-button {
    display: inline-flex;
    img{
        width: 1rem;
        height: 1.5rem;
        object-fit: cover;
    }
    .text-button{
        margin-left: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
    width: auto;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
    &:hover {
        background-color: #ddd;
        border: none;
        color: black;
    }
}

.file-name{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    // end line with dots
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.download-card{
    width: auto;
}
