<ng-container>
    <div class="row g-0 text-start py-4 ps-4">
        <a class="back-button shadowed alaign-items-center" routerLink="/">
            <img src="assets/files/svg/back.svg" alt="back" class="m-0 my-auto">
            <p class="m-0 my-auto ms-2">Volver</p>
        </a>
    </div>
    <div class="row project-info g-0 primary-card mt-0">
        <div class="col-xl-4 col-md-8 col-sm-8">
            <img [src]="project.coverImagePath" [alt]="project.title + ' Image'" class="project-cover-image">
        </div>
        <div class="col-xl-8 col-md-12 col-sm-12 text-start py-3">
            <h1 class="m-4">{{ project.title }}</h1>
            <p class="m-4">{{ project.description }}</p>
            <h3 class="m-4">Descargables</h3>
            <div class="row g-0 px-4">
                <div class="shadowed d-flex download-card m-0 mt-1 mb-3 me-2" *ngFor="let download of project.downloads">
                    <p class="m-3 my-auto file-name">{{fileName(download.path)}}</p>
                    <a class="download-button ms-auto" [href]="download.path" download>
                        <img src="assets/files/svg/download.svg" alt="download" class="m-0 my-auto">
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-container>
