.layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	.container {
		position: absolute;
		padding: 0;
		background-color: #eee;
		margin: 0;
		width: 100%;
		text-align: center;
		transition: all 0.5s;
		.home-cover {
			margin-top: 5rem;
			width: 100%;
			.page-title {
				width: 100%;
				font-size: 10rem;
				font-weight: 0;
				margin: 0;
				padding-top: 2rem;
				padding-bottom: 2rem;
				color: black;
			}
		}
	}
}
.content .visible {
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.layout {
		.container {
			.home-cover {
				height: 5rem;
			}
		}
	}
}

