<ng-container>
    <div class="footer mx-0 pt-4 pb-3 mb-4">
        <div class="row g-0 justify-content-center">
            <div class="col-auto g-0">
                <p class="m-0 p-0">Connect with me</p>
                <div class="d-flex w-100 justify-content-center my-2 me-4">
                    <a [href]="footerData.linkedin" target="_blank" class="footer-icon p-2">
                        <img src="assets/files/svg/linkedin.svg" alt="linkedin">
                    </a>
                    <a [href]="footerData.whatsapp" target="_blank" class="footer-icon p-2">
                        <img src="assets/files/svg/whatsapp.svg">
                    </a>
                    <a [href]="footerData.instagram" target="_blank" class="footer-icon p-2">
                        <img src="assets/files/svg/instagram.svg" alt="instagram">
                    </a>
                    <a [href]="footerData.tumblr" target="_blank" class="footer-icon p-2">
                        <img src="assets/files/svg/tumblr.svg" alt="tumblr">
                    </a>
                </div>
                <p class=" my-2 p-0">© {{ footerData.name }} {{ getCurrentYear() }}</p>
            </div>
            <div class="col-auto g-0 d-flex align-content-center footer-navigation">
                <div class="d-flex flex-column w-100 my-auto text-start">
<a *ngFor="let page of pages" class="footer-nav-item mx-4" [routerLink]="page.url">{{page.name}}</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>
