header {
    color: black;
    position: fixed;
    left: 0;
    z-index: 99999;
    background-color: #fffe;
    // center items
    display: flex;
    align-items: center;
    justify-content: center;
    .navigator-link {
        position: relative;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #333;
        &:hover {
            transition: 0.3s ease-in-out;
            background-color: #ddd;
        }
    }
    .navigator-link.active {
        transition: 0.3s ease-in-out;
        color: white;
        background-color: #333;
    }
    .mobile-navigator-link {
        display: none;
    }
    .navigator-toggler{
        display: none;
    }
    .navigator-brand{
        padding: 1rem 2rem;
        background-color: #fff0;
    }
    .logo {
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: min-content !important;
        width: min-content !important;
        background: none !important;
        top: unset;
        left: unset;
        bottom: 0;
        right: 0;
        .navigator {
            width: 50vw !important;
            margin-left: auto !important;
            box-shadow: none !important;
            .navigator-brand{
                display: none !important;
            }
            .navigator-link-container{
                transition: 0.5s ease-in-out;
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(100%, -5rem);
            }
            .navigator-item {
                width: 50vw;
                text-align: center;
                .navigator-link.active {
                    background-color: #333
                }
                .navigator-link{
                    width: 50vw !important;
                    background-color: #fff;
                }
            }
            .navigator-toggler{
                position: absolute;
                right: 0;
                bottom: 0;
                transition: 2s ease-in-out;
                display: block;
                margin-left: auto;
                border: none;
                border-radius: 0rem;
                width: 3.5rem;
                height: 3.5rem;
                background-color: #333;
                padding: 0.5rem 0.75rem;
                margin: 1rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    filter: invert(1);
                }
                &:focus{
                    outline: none;
                }
            }
        }
        .navigator.show{
            .navigator-link-container{
                transform: translate(0, -5rem);
            }
        }
    }

}
