.profile-image {
    filter: grayscale(30%);
    object-fit: cover;
	width: 100%;
}

.timeline {
	border-left: 1px solid #aaa;
	position: relative;
	list-style: none;
	margin: 2rem;
	margin-top: 0;
	padding: 2rem;
	padding-top: 0;
	padding-bottom: 0;
}
.timeline .timeline-item {
	position: relative;
}

.timeline .timeline-item:after {
	position: absolute;
	display: block;
	top: 1.5rem;
}

.timeline .timeline-item:after {
	background-color: black;
    left: -2.25rem;
	top: 1.2rem;
	border-radius: 50%;
	height: 0.5rem;
	width: 0.5rem;
	content: "";
}

@media screen and (max-width: 768px) {
	remove the timeline item after
	.timeline .timeline-item:after {
		display: none;
	}
	remove the timeline item before
	.timeline .timeline-item:before {
		display: none;
	}
	remove the timeline item content
	.timeline {
		border: none;
		padding: 0;
		margin: 0;
	}
}

.nav-tab-container {
	list-style: none;
	.tab{
		.about-nav-link {
			transition: all 0.3s ease-in-out;
			padding: 0.5rem 1rem;
			cursor: pointer;
			color: black;
			&:hover {
				background-color: #ddd;
				border: none;
				color: black;
			}
		}
		.about-nav-link.active {
			background-color: #333;
			border: none;
			color: white;
		}
	}
}
