<ng-container>
    <header class="header shadowed-1 w-100">
        <a class="navigator-brand " routerLink="/">
            <img src="assets/files/svg/logo.svg" alt="logo" class="logo">
        </a>
        <a class="navigator-toggler shadowed" (click)="toggleNavbar()">
            <img src="assets/files/svg/hamburger.svg">
        </a>
        <a *ngFor="let page of pages" [routerLink]="page.url" class="button primary navlink ms-3" [ngClass]="{inactive: page.url !== currentUrl}">{{page.name}}</a>
    </header>
</ng-container>
