@import "bootstrap/scss/bootstrap";

@font-face {
    font-family: CenturyGothic;
    src: url(assets/fonts/CenturyGothic/CenturyGothic.ttf) format("opentype");
}

body{
    font-family: 'CenturyGothic', sans-serif;
    background-color: #eee;
}
a{
    font-size: 1rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4, a {
    text-transform: uppercase;
}
h1, h2, h3, h4, a, p {
    padding: 0;
}
h1 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
    margin: 1rem 2rem 1rem 2rem;
}
h2 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    margin: 0.75rem 2rem 0.75rem 2rem;
}
h3 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin: 0.5rem 2rem 0.5rem 2rem;
}
h4 {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin: 0.25rem 2rem 0.25rem 2rem;
}

p {
    line-height: 1.5; /* Espaciado entre líneas para párrafos */
    letter-spacing: 0.15rem;
    color: #333;
    margin: 1rem 2rem 1rem 2rem;
}

input, textarea{
    font-family: 'Gotham', sans-serif;
    letter-spacing: 0.15rem !important;
}


.shadowed {
    box-shadow: 0 0 5px rgba(0,0,0,0.1) !important;
}

.shadowed-1{
    box-shadow: 0 0 10px rgba(0,0,0,0.1) !important;
}

.shadowed-2{
    box-shadow: 0 0 15px rgba(0,0,0,0.15) !important;
}

.shadowed-3{
    box-shadow: 0 0 20px rgba(0,0,0,0.15) !important;
}

.shadowed-4{
    box-shadow: 0 0 25px rgba(0,0,0,0.2) !important;
}

.shadowed-5{
    box-shadow: 0 0 30px rgba(0,0,0,0.2) !important;
}




.primary-card {
    background-color: #eee;
    z-index: 1;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 21px rgba(0,0,0,0.1);
    margin: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


$primary: #333;
$secondary: #eee;

.button {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.primary{
    background-color: $primary;
    color: $secondary;
    border: 1px solid $primary;
    &.inactive{
        background-color: white;
        color: black;
        border: none;
        &:hover{
            background-color: darken($secondary, 5%);
        }
    }
    &:hover{
        background-color: darken($primary, 10%);
    }
}

.secondary{
    background-color: $secondary;
    color: $primary;
    border: 1px solid $secondary;
    &.inactive{
        background-color: black;
        color: white;
        border: none;
        &:hover{
            background-color: lighten($primary, 5%);
        }
    }
    &:hover{
        background-color: darken($secondary, 10%);
    }
}


.outline{
    &.primary{
        background-color: transparent;
        color: $primary;
        border: 1px solid $primary;
        &:hover{
            background-color: $primary;
            color: $secondary;
        }
    }
    &.secondary{
        background-color: transparent;
        color: $secondary;
        border-color: $secondary;
        &:hover{
            background-color: $secondary;
            color: $primary;
        }
    }
}

.debug {
    border: 1px solid red;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.2rem;
        margin: 1rem 0.5rem 1rem 0.5rem;
    }
    h2 {
        font-size: 1.1rem;
        margin: 0.75rem 0.5rem 0.75rem 0.5rem;
    }
    h3 {
        font-size: 1rem;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    h4 {
        font-size: 0.9rem;
        margin: 0.25rem 0.5rem 0.25rem 0.5rem;
    }
    p {
        color: #333;
        margin: 1rem 0.5rem 1rem 0.5rem;
    }
    .primary-card {
        background-color: #ffffff66;
        z-index: 1;
        transition: 0.3s ease-in-out;
        box-shadow: 0 0 21px rgba(0,0,0,0.1);
        margin: 1rem;
        padding: 0rem;
    }
}
